<div class="content fondo_card">
  <div class="text-center">
    <span class="texto_subtitle">Manzana Serrana</span>
    <br>
    <p class="texto_title bold space_text">{{titulo}}</p>
  </div>
  <form [formGroup]="actividadForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre" class="texto_card">Nombre</label>
      <input type="text" class="form-control texto_input" id="nombre" formControlName="nombre"
        placeholder="Nombre de la actividad">
      <div *ngIf="actividadForm.get('nombre')?.hasError('required') && actividadForm.get('nombre')?.touched"
        class="invalid-check">
        Este campo es requerido.
      </div>
    </div>
    <div class="mb-3">
      <label for="foto" class="texto_card">Imagen del Evento</label>
      <div class="text-center">
        <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(nombrefoto)" alt="" width="100">
      </div>
      <input (change)="onFileSelect($event.target)" type="file" class="form-control texto_input" id="foto">
    </div>
    <div class="form-group">
      <label for="descripcion" class="texto_card">Descripción</label>
      <textarea class="form-control texto_input" id="descripcion" formControlName="descripcion"
        placeholder="Descripcion de la actividad"></textarea>
      <div *ngIf="actividadForm.get('descripcion')?.hasError('required') && actividadForm.get('descripcion')?.touched"
        class="invalid-check">
        Este campo es requerido.
      </div>
    </div>
    <button type="submit" class="btn btn-rojo">{{tituloBoton}}</button>
  </form>
</div>