@font-face {
    font-family: "kamerik-bold";
    src: url("../../assets/fonts/kamerik/kamerik-bold.ttf") format(opentype);
    font-display: swap;
}
@font-face {
    font-family: "kamerik-book-oblique";
    src: url("../../assets/fonts/kamerik/kamerik-book-oblique.ttf") format(opentype);
    font-display: swap;
}
@font-face {
    font-family: "kamerik-book";
    src: url("../../assets/fonts/kamerik/kamerik-book.ttf") format(opentype);
    font-display: swap;
}
@font-face {
    font-family: "kamerik-light-oblique";
    src: url("../../assets/fonts/kamerik/kamerik-light-oblique.ttf") format(opentype);
    font-display: swap;
}
@font-face {
    font-family: "kamerik-light";
    src: url("../../assets/fonts/kamerik/kamerik-light.ttf") format(opentype);
    font-display: swap;
}
@font-face {
    font-family: "kamerik-thin-oblique";
    src: url("../../assets/fonts/kamerik/kamerik-thin-oblique.ttf") format(opentype);
    font-display: swap;
}
@font-face {
    font-family: "kamerik-thin";
    src: url("../../assets/fonts/kamerik/kamerik-thin.ttf") format(opentype);
    font-display: swap;
}