<footer class="sticky-footer">
  <div class="row">
    <div class="col-md-4 texto_footer">
      <p>Av. Hidalgo S/N esquina con Allende,</p>
      <p>Loma Bonita</p>
      <p>C.P. 73800</p>
      <p>Teziutlan, Pue.</p>
    </div>
    <div class="col-md-4 bordes_card text-center">
      <img src="../../../assets/img/Logo Blanco.svg" alt="" width="100">
    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content-end">
        <a href="https://www.ejemplo.com" class="icon_footer"><span class="icon-face-blanco"></span></a>
        <a href="https://www.ejemplo.com" class="icon_footer"><span class="icon-insta"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span></a>
        <a href="https://www.ejemplo.com" class="icon_footer"><span class="icon-twitter-x"></span></a>
      </div>
    </div>
  </div>
</footer>