<nav class="navbar navbar-expand-lg navbar-light rojo fixed-top">
    <div class="container">
      <a class="navbar-brand" (click)="home()">
        <img src="../../../assets/img/logo.jpg" alt="..." width="30" height="30"><span class="blanco">CPMT</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active cursor_pointer">
            <a class="nav-link" (click)="home()"><i class="blanco fa fa-home"></i>
                <span class="blanco"> Incio</span></a>
          </li>
          <li class="nav-item cursor_pointer">
            <a class="nav-link" (click)="productos()"><i class="blanco fa fa-tags"></i>
                <span class="blanco"> Productos</span></a>
          </li>
          <li class="nav-item cursor_pointer">
            <a class="nav-link" (click)="contacto()"><i class="blanco fa fa-envelope"></i>
                <span class="blanco"> Contacto</span></a>
          </li>
          <li class="nav-item cursor_pointer">
            <a class="nav-link" (click)="actividades()"><i class="blanco fa fa-list"></i>
                <span class="blanco"> Actividades</span></a>
          </li>
          <li class="nav-item cursor_pointer">
            <a class="nav-link" (click)="quienesSomos()"><i class="blanco fa fa-users"></i>
                <span class="blanco"> ¿Quienes Somos?</span></a>
          </li>
          <li class="nav-item cursor_pointer">
            <ng-container *ngIf="!isLoggedIn; else loggedIn">
              <a class="nav-link" (click)="login()"><i class="blanco fa fa-sign-in"></i>
                <span class="blanco"> Iniciar Sesión</span>
              </a>
            </ng-container>
            <ng-template #loggedIn>
              <a class="nav-link" (click)="logout()"><i class="blanco fa fa-sign-out"></i>
                <span class="blanco"> Cerrar Sesión</span>
              </a>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  