<nav class="navbar-expand-lg fixed-top">
  <div class="container-fluid p-0 margin_nav">
    <div class="row">
      <div class="col-5 d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item cursor_pointer mx-1">
              <a class="nav-link color_nav_item" routerLinkActive="active" [routerLink]="['/home']">
                Incio</a>
            </li>
            <li class="nav-item cursor_pointer mx-1">
              <a class="nav-link color_nav_item" routerLinkActive="active" [routerLink]="['/productos']">
                Productos</a>
            </li>
            <li class="nav-item cursor_pointer mx-1">
              <a class="nav-link color_nav_item" routerLinkActive="active" [routerLink]="['/pedidos']">
                Pedidos</a>
            </li>
            <li class="nav-item cursor_pointer mx-1">
              <a class="nav-link color_nav_item" routerLinkActive="active" [routerLink]="['/actividades']">
                Actividades</a>
            </li>
            <li class="nav-item cursor_pointer mx-1">
              <a class="nav-link color_nav_item" routerLinkActive="active" [routerLink]="['/quienesSomos']">
                ¿Quienes Somos?</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2">
        <div class="text-center img_nav">
          <img src="../../../assets/img/Logo Horizontal.svg" alt="" width="100%" height="100%">
        </div>
      </div>
      <div class="col-5">
        <div class="d-flex justify-content-end mt-3">
          <a href="https://www.ejemplo.com" class="icon"><span class="icon-face-blanco"></span></a>
          <a href="https://www.ejemplo.com" class="icon"><span class="icon-insta"><span class="path1"></span><span
                class="path2"></span><span class="path3"></span></span></a>
          <a href="https://www.ejemplo.com" class="icon"><span class="icon-twitter-x"></span></a>
          <ng-container *ngIf="isLoggedIn">
            <a (click)="logout()" class="icon"><i class="fa fa-sign-out"></i></a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>