
.card-img-fixed {
    width: 250px; /* Cambia este valor al tamaño deseado */
    height: 200px; /* Cambia este valor al tamaño deseado */
    object-fit: cover; /* Esto mantendrá la proporción de aspecto y recortará la imagen si es necesario */
  }
  