<div class="">
  <div class="swiper mySwiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide fondo_swiper">
              <img src="../../../assets/img/Manza-home.jpg" alt="">
              <div class="overlay_box">
                  <div class="texto_superpuesto">
                      <p class="texto_small_swiper">Conoce los beneficios de las</p>
                      <p class="texto_big_swiper">manzanas</p>
                      <p class="texto_big_swiper">orgánicas</p>
                  </div>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="fondo_swiper">
                  <img src="../../../assets/img/Manza-home.jpg" alt="">
              </div>
          </div>
          <div class="swiper-slide fondo_swiper">
              <img src="../../../assets/img/Manza-home.jpg" alt="">
              <div class="overlay_box">
                  <div class="texto_superpuesto">
                      <p class="texto_small_swiper">Conoce nuestras</p>
                      <p class="texto_big_swiper">actividades</p>
                  </div>
              </div>
          </div>
          <div class="swiper-slide fondo_swiper">
              <img src="../../../assets/img/Manza-home.jpg" alt="">
              <div class="overlay_box">
                  <div class="texto_superpuesto">
                      <p class="texto_small_swiper">Conoce los beneficios de las</p>
                      <p class="texto_big_swiper">manzanas</p>
                      <p class="texto_big_swiper">orgánicas</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>
</div>
<div class="container text-center mt-3 mb-4">
  <span class="texto_subtitle">Manzana Serrana</span><br>
  <p class="texto_title bold espacios_textos">Nuestros</p><br>
  <p class="texto_title bold espacios_textos">Productos</p>
</div>
<div class="container mb-4">
  <div class="d-flex justify-content-center texto_catgeorias">
    <div class="boton_expand_cat active_categoria cursor_pointer" id="btnRoja" (click)="cambiarCategoria('roja')">
      Roja
    </div>
    <div class="boton_expand_cat cursor_pointer" id="btnVerde" (click)="cambiarCategoria('verde')">
      Verde
    </div>
    <div class="boton_expand_cat cursor_pointer" id="btnAmarilla" (click)="cambiarCategoria('amarilla')">
      Amarilla
    </div>
    <div class="boton_expand_cat cursor_pointer" id="btnDerivados" (click)="cambiarCategoria('derivados')">
      Derivados
    </div>
  </div>
  <div class="mostrar" id="rojas">
    <div class="row row-cols-1 row-cols-md-3 g-5 mt-3">
      <ng-container *ngFor="let aux of listaRojas">
        <div class="col">
          <div class="card p-4 borde" style="min-height: 100%;">
            <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(aux.foto)" class="card-img-fixed"
              alt="...">
            <div class="card-body">
              <div class="text-center">
                <p class="texto_card text-center espacios_textos">Manzana</p><br>
                <p class="texto_card_big text-center espacios_textos">{{ aux.nombre }}</p>
              </div>
              <p class="descripcion_card my-1">{{ aux.descripcion }}</p>
            </div>
            <div class="text-center cursor_pointer">
              <div class="btn_pedido" routerLink="/pedidos">Hacer Pedido</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="ocultar" id="verdes">
    <div class="row row-cols-1 row-cols-md-3 g-5 mt-3">
      <ng-container *ngFor="let aux of listaVerdes">
        <div class="col">
          <div class="card p-4 borde" style="min-height: 100%;">
            <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(aux.foto)" class="card-img-fixed"
              alt="...">
            <div class="card-body">
              <div class="text-center">
                <p class="texto_card text-center espacios_textos">Manzana</p><br>
                <p class="texto_card_big text-center espacios_textos">{{ aux.nombre }}</p>
              </div>
              <p class="descripcion_card my-1">{{ aux.descripcion }}</p>
            </div>
            <div class="text-center cursor_pointer">
              <div class="btn_pedido" routerLink="/pedidos">Hacer Pedido</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="ocultar" id="amarillas">
    <div class="row row-cols-1 row-cols-md-3 g-5 mt-3">
      <ng-container *ngFor="let aux of listaAmarillas">
        <div class="col">
          <div class="card p-4 borde" style="min-height: 100%;">
            <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(aux.foto)" class="card-img-fixed"
              alt="...">
            <div class="card-body">
              <div class="text-center">
                <p class="texto_card text-center espacios_textos">Manzana</p><br>
                <p class="texto_card_big text-center espacios_textos">{{ aux.nombre }}</p>
              </div>
              <p class="descripcion_card my-1">{{ aux.descripcion }}</p>
            </div>
            <div class="text-center cursor_pointer">
              <div class="btn_pedido" routerLink="/pedidos">Hacer Pedido</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="ocultar" id="derivados">
    <div class="row row-cols-1 row-cols-md-3 g-5 mt-3">
      <ng-container *ngFor="let aux of listaDerivados">
        <div class="col">
          <div class="card p-4 borde" style="min-height: 100%;">
            <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(aux.foto)" class="card-img-fixed"
              alt="...">
            <div class="card-body">
              <div class="text-center">
                <p class="texto_card_big text-center espacios_textos">{{ aux.nombre }}</p>
              </div>
              <p class="descripcion_card my-1">{{ aux.descripcion }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- Message system -->
<ng-container *ngIf="banderaId">
  <div class="message-container">
    <div class="dropdown">
      <button class="btn btn-rojo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <i class="fa fa-envelope"></i>
      </button>
    </div>
  </div>
</ng-container>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" class="texto_subtitle mt-1">Mandar Nota a Administrador</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="tipoManzana" class="form-label texto_card">Tipo de Manzana</label>
        <select class="form-control texto_input" id="tipoManzana" formControlName="tipoManzana">
          <option *ngFor="let manzana of listaIdManzana" [value]="manzana.id">{{ manzana.nombre }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="tipoMensaje" class="form-label texto_card">Tipo de Mensaje</label>
        <select class="form-control texto_input" id="tipoMensaje" formControlName="tipoMensaje">
          <option *ngFor="let mensaje of listaMensaje" [value]="mensaje.id">{{ mensaje.nombre }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="cantidad" class="form-label texto_card">Cantidad</label>
        <input type="number" class="form-control texto_input" id="cantidad" formControlName="cantidad">
      </div>
      <button type="submit" class="btn btn-rojo">Enviar</button>
    </form>
  </div>
</div>