<nav class="fondo_navbar navbar-expand-lg fixed-top">
    <div class="container-fluid p-0 m-2">
      <div class="row">
        <div class="col-12">
            <div class="text-center img_nav mt-3">
              <img routerLink="/home" src="../../../assets/img/Logo Horizontal.svg" alt="" width="15%" height="50%">
            </div>
          </div>
      </div>
    </div>
  </nav>
<div class="container mb-4 login">
    <div class="row justify-content-center align-items-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block"> <img class="img-fluid"
                                src="../../../assets/img/login.jpg" alt="..."></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="texto_card_big mb-4">Bienvenido</h1>
                                </div>
                                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                                    <!-- Contenido del formulario -->
                                    <div class="form-floating mb-3">
                                        <input type="text" formControlName="usuario" class="form-control"
                                            id="floatingInput" placeholder="usuario">
                                        <label for="floatingInput">Usuario</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" formControlName="contrasenia" class="form-control"
                                            id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                    <button type="submit" class="btn btn-rojo">Entrar</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <span class="label"><i>{{ mensajeError}}</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>