<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/carrusel.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/carrusel2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/carrusel3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="container text-center mt-3 mb-4">
    <span class="texto_subtitle">Manzana Serrana</span><br>
    <p class="texto_title bold espacios_textos">Recreacion &</p><br>
    <p class="texto_title bold espacios_textos">Deportes</p>
  </div>
<div class="container mt-3 mb-3">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="borde p-4">
                <img src="../../../assets/img/act-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Trail Running</h5>
                    <p class="card-text">Si eres apasionado del Trail no te puedes perder 3K, 5K, 10k, 15K, 25K de rutas por caminos, sederos o veredas, donde podrás poner a prueba tus técnicas como runner.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="borde p-4">
                <img src="../../../assets/img/act-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Camping</h5>
                    <p class="card-text">Podrás tener la experiencia de convivir con un entorno de mucha naturaleza, realizar una fogata, escuchar los sonidos de la noche y pasar momentos increíbles en medio del bosque.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="">
                <img src="../../../assets/img/act-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mountain Bike</h5>
                    <p class="card-text">Atrévete a una aventura con mucha adrenalina por senderos y caminos con abundante vegetación. Te esperan descensos y subidas donde pondrás a prueba tus habilitades.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="">
                <img src="../../../assets/img/act-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hiking</h5>
                    <p class="card-text">Simplemente hagamos senderismo por huertas y caminos con mucha vegetación, también podrás visitar nacimientos de agua y puntos de interés.</p>
                </div>
            </div>
        </div>
    </div>
</div>