<div class="container text-center mt-5 mb-4">
  <span class="texto_subtitle">Manzana Serrana</span><br>
  <p class="texto_title bold espacios_textos">Pedidos</p>
</div>
<div class="container">
  <table class="table table-striped">
    <thead class="text-center">
      <tr>
        <th>Nombre Cliente</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Ciudad</th>
        <th>Telefeno</th>
        <th>Total</th>
        <th>Fecha de Pedido</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let aux of pedidosLista">
        <th>{{ aux.nombreCliente }}</th>
        <td>{{ aux.correoCliente }}</td>
        <td>{{ aux.estadoCliente }}</td>
        <td>{{ aux.ciudadCliente }}</td>
        <td>{{ aux.telefonoCliente }}</td>
        <td>${{ aux.total }}</td>
        <td>{{ aux.fechaOrdenado }}</td>
        <td>
          <button type="button" class="btn btn-rojo" (click)="liberar(aux.id)">Liberar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container text-center mt-5 mb-4">
  <p class="texto_title bold espacios_textos">Ventas</p>
</div>
<div class="container">
  <table class="table table-striped">
    <thead class="text-center">
      <tr>
        <th>Nombre Cliente</th>
        <th>Estado</th>
        <th>Ciudad</th>
        <th>Telefeno</th>
        <th>Total</th>
        <th>Fecha de Pedido</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let aux of ventasLista">
        <th>{{ aux.nombreCliente }}</th>
        <td>{{ aux.estadoCliente }}</td>
        <td>{{ aux.ciudadCliente }}</td>
        <td>{{ aux.telefonoCliente }}</td>
        <td>${{ aux.total }}</td>
        <td>{{ aux.fechaOrdenado }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Mandar Nota a Administrador</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mb-3">Enviar
      </button>
    </div>
  </div>
</div>