
<div class="mt-1">
    <span>.</span>
  </div>
<div class="container">
    <h1 class="mt-5 mb-3 text-center">Pedidos</h1>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Liberar Pedido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <button type="button" class="btn" (click)="liberar()">Liberar</button>
          </tr>
        </tbody>
      </table>
</div>