<div class="">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide fondo_swiper">
        <img src="../../../assets/img/Manza-home.jpg" alt="">
        <div class="overlay_box">
          <div class="texto_superpuesto">
            <p class="texto_small_swiper">El mayor productor de</p>
            <p class="texto_big_swiper">manzanas</p>
            <p class="texto_big_swiper">orgánicas</p>
            <p class="texto_small_swiper">Teziutlán</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide fondo_swiper">
        <img src="../../../assets/img/beneficios-manzana.jpg" alt="">
        <div class="overlay_box">
          <div class="texto_superpuesto">
            <p class="texto_small_swiper">Conoce los beneficios de las</p>
            <p class="texto_big_swiper">manzanas</p>
            <p class="texto_big_swiper">orgánicas</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide fondo_swiper">
        <img src="../../../assets/img/actividades-2.jpg" alt="">
        <div class="overlay_box">
          <div class="texto_superpuesto">
            <p class="texto_small_swiper">Conoce las</p>
            <p class="texto_big_swiper">Actividades</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide fondo_swiper">
        <img src="../../../assets/img/actividades-1.jpg" alt="">
        <div class="overlay_box">
          <div class="texto_superpuesto">
            <p class="texto_small_swiper">No esperes mas</p>
            <p class="texto_big_swiper">Visitanos</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide fondo_swiper">
        <img src="../../../assets/img/Nosotros.jpg" alt="">
        <div class="overlay_box">
          <div class="texto_superpuesto">
            <p class="texto_small_swiper">Conoce acerca de</p>
            <p class="texto_big_swiper">Nosotros</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div>
  <div class="container text-center mt-3 mb-5">
    <span class="texto_subtitle">Manzana Serrana</span>
    <br>
    <p class="texto_title bold">Teziutlán</p>
  </div>
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col">
        <div class="">
          <img src="../../../assets/img/home1.jpg" class="card-img-top img-fluid" alt="...">
          <div class="card-body mt-5">
            <p class="descripcion_card">La característica principal de los productos orgánicos es que su proceso de
              producción está libre de
              plaguicidas, fertilizantes químicos. Son productos libres de hormonas, antibióticos, colorantes y
              saborizantes artificiales. Además de ofrecer productos que traen beneficios para la salud al ser humano,
              colabora con detener significativamente daños al medio ambiente y a la tierra de cultivo.
              (enAlimentos.lat,
              2021).</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="">
          <div class="card-body">
            <p class="descripcion_card">
              <b>Teziutlán, Puebla</b> es conocida por ser una región destacada en la producción de manzanas orgánicas
              de
              alta
              calidad. Los agricultores locales se esfuerzan por cultivar variedades únicas que prosperan en este
              entorno
              particular, brindando productos orgánicos frescos y deliciosos a la comunidad y más allá.
            </p>
          </div>
          <img src="../../../assets/img/capilla.webp" class="card-img-bottom" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-4">

</div>
<div class="border_rad bg_verde_claro">
  <div class="container text-center mb-1">
    <p class="texto_title blanco">Propiedades y beneficios de la manzana</p>
  </div>
  <div class="bg_blanco_carta">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <p class="texto_card_big card-text m-2">Previene el estreñimiento</p>
        <div class="row mt-1">
          <div class="col-1 numero-destacado">
            1
          </div>
          <div class="col-11">
            <p class="texto_card card-text">Contenido en fibra</p>
            <p class="descripcion_card mt-2">La fibra en las manzanas favorece el tránsito intestinal y ayuda en la
              digestión de las grasas, contribuyendo a la salud digestiva.</p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-1 numero-destacado">
            2
          </div>
          <div class="col-11">
            <p class="texto_card card-text">Salud Digestiva</p>
            <p class="descripcion_card mt-2">La capacidad de las manzanas para promover la salud digestiva es
              fundamental
              para prevenir condiciones como el estreñimiento.</p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-1 numero-destacado">
            3
          </div>
          <div class="col-11">
            <p class="texto_card card-text">Acción Natural</p>
            <p class="descripcion_card mt-2">Las propiedades naturales de las manzanas las convierten en un remedio
              eficaz
              para el estreñimiento sin la necesidad de productos químicos.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ps-5">
        <img src="../../../assets/img/vert_estre.png" alt="" class="img-fluid" style="max-width: 100%;">
      </div>
    </div>
  </div>

  <div class="bg_blanco_carta mt-3">
    <p class="texto_card_big card-text m-2">Poder antioxidante</p>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-1 numero-destacado">
            1
          </div>
          <div class="col-11">
            <p class="texto_card card-text">Regeneración celular</p>
            <p class="descripcion_card mt-2">Las manzanas, ricas en antioxidantes, favorecen la regeneración celular,
              manteniendo una piel sana y vitalidad interior.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-1 numero-destacado">
            2
          </div>
          <div class="col-11">
            <p class="texto_card card-text">Bienestar General</p>
            <p class="descripcion_card mt-2">La capacidad antioxidante de las manzanas contribuye a una sensación de
              bienestar y vitalidad en el cuerpo.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="bg_blanco_carta mt-3">
    <p class="texto_card_big card-text m-2">Mejora el sistema inmune</p>
    <div class="row">
      <div class="col-1 numero-destacado">
        1
      </div>
      <div class="col-11">
        <p class="texto_card card-text">Contenido de vitamina C</p>
        <p class="descripcion_card mt-2">Las manzanas contienen vitamina C, lo que refuerza las defensas del organismo,
          manteniéndonos fuertes y saludables.</p>
      </div>
    </div>
  </div>
  <div class="bg_blanco_carta mt-3">
    <p class="texto_card_big card-text m-2">Perfecto para hacer dieta</p>
    <div class="row">
      <div class="col-1 numero-destacado">
        2
      </div>
      <div class="col-11">
        <p class="texto_card card-text">Snack saciante y bajo en calorías</p>
        <p class="descripcion_card mt-2">Las manzanas, con su poder saciante y bajo contenido calórico, son un bocado
          ideal para controlar el peso y mantener una dieta saludable.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg_blanco">
  <div class="bg_blanco_carta mt-3">
    <p class="texto_card_big card-text m-2">Favorece el bienestar</p>
    <div class="row pad_col">
      <div class="col">
        <p class="texto_card card-text">Vitamina B</p>
        <p class="descripcion_card mt-2">La vitamina B presente en las manzanas aumenta los niveles de energía,
          promoviendo un estado general de bienestar y vitalidad.</p>
      </div>
    </div>
  </div>
</div>
<div class="border_rad bg_verde_claro">
  <div class="bg_blanco_carta">
    <p class="texto_card_big card-text m-2">Reducción de la Huella Ambiental</p>
    <div class="row">
      <div class="col">
        <div class="row pad_col">
          <div class="col">
            <p class="texto_card card-text">Minimizar el Uso de Recursos</p>
            <p class="descripcion_card mt-2">Consumir manzanas orgánicas contribuye a la reducción de la huella
              ambiental al minimizar el uso de recursos no renovables.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row pad_col">
          <div class="col">
            <p class="texto_card card-text">Disminuir las Emisiones de Gases de Efecto Invernadero</p>
            <p class="descripcion_card mt-2">La producción de manzanas orgánicas contribuye a disminuir las emisiones de
              gases de efecto invernadero, promoviendo prácticas agrícolas ecológicas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg_blanco_carta mt-3">
    <p class="texto_card_big card-text m-2">Conservación de Recursos Naturales</p>
    <div class="row">
      <div class="col pad_col">
        <div class="row">
          <div class="col">
            <p class="texto_card card-text">Agua: Reducción de la Contaminación Hídrica</p>
            <p class="descripcion_card mt-2">El cultivo de manzanas orgánicas ayuda a reducir la contaminación del agua
              al evitar el uso de químicos nocivos para esta fuente vital.</p>
          </div>
        </div>
      </div>
      <div class="col pad_col">
        <div class="row">
          <div class="col">
            <p class="texto_card card-text">Suelo: Evitar Degradación y Pérdida de Capa Fértil</p>
            <p class="descripcion_card mt-2">Este método de cultivo evita la degradación del suelo, preservando su
              fertilidad para futuros cultivos y manteniendo sus propiedades naturales.</p>
          </div>
        </div>
      </div>
      <div class="col pad_col">
        <div class="row">
          <div class="col">
            <p class="texto_card card-text">Ecosistemas: Protección de la Diversidad Biológica</p>
            <p class="descripcion_card mt-2">El consumo de manzanas orgánicas contribuye a la protección de la
              diversidad biológica al promover prácticas agrícolas sostenibles y ecológicas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg_blanco">
  <div class="container text-center mt-5">
    <p class="texto_title bold">Apoya a la Economia Local</p>
    <div class="row mt-3">
      <div class="col-md-6">
        <p class="texto_num">500</p>
        <p class="texto_card_big">Empleos Sostenibles</p>
        <p class="descripcion_card_2">
          La producción de manzanas orgánicas contribuye a la creación de más de 30,000 empleos sostenibles en la
          industria agrícola local.
        </p>
      </div>
      <div class="col-md-6">
        <p class="texto_num">15</p>
        <p class="texto_card_big">Granjas Familiares</p>
        <p class="descripcion_card_2">
          Al consumir manzanas orgánicas, se apoya a más de 150 granjas familiares comprometidas con la agricultura
          sostenible.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg_blanco p-3">
  <div class="container">
    <iframe class="video" src="https://www.youtube.com/embed/GJHn7X9dtKY" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- Message system -->
<ng-container *ngIf="banderaId">
  <div class="message-container">
    <div class="dropdown">
      <button class="btn btn-rojo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight">
        <i class="fa fa-envelope"></i>
      </button>
    </div>
  </div>
</ng-container>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" class="texto_subtitle mt-1">Mandar Nota a Administrador</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="tipoManzana" class="form-label texto_card">Tipo de Manzana</label>
        <select class="form-control texto_input" id="tipoManzana" formControlName="tipoManzana">
          <option *ngFor="let manzana of listaIdManzana" [value]="manzana.id">{{ manzana.nombre }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="tipoMensaje" class="form-label texto_card">Tipo de Mensaje</label>
        <select class="form-control texto_input" id="tipoMensaje" formControlName="tipoMensaje">
          <option *ngFor="let mensaje of listaMensaje" [value]="mensaje.id">{{ mensaje.nombre }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="cantidad" class="form-label texto_card">Cantidad</label>
        <input type="number" class="form-control texto_input" id="cantidad" formControlName="cantidad">
      </div>
      <button type="submit" class="btn btn-rojo">Enviar</button>
    </form>
  </div>
</div>