.fondo_tit {
  background-image: url('../../../assets/img/home_tit.jpg');
  background-size: cover; /* Para que la imagen cubra todo el contenedor */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
}

.color_img{
  padding: 5rem 15rem 5rem 15rem;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px) !important;
}

.blanco{
  color: white !important;
}
.descripcion_card li {
    margin-bottom: 20px !important; /* Ajusta el valor según la cantidad de espacio que desees */
  }
  
.custom-list {
    list-style-type: none;
    padding: 0;
  }
  
  .custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
  }
  
  .list-number {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #4CAF50; /* Cambia a tu color verde deseado */
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    margin-right: 10px; /* Ajusta el espacio entre el número y el texto */
  }
  