<div class="container text-center mt-5 mb-4">
  <span class="texto_subtitle">Manzana Serrana</span><br>
  <p class="texto_title bold espacios_textos">Actividades</p>
</div>
<div class="container mt-3">
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th>#</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Foto</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lista">
        <th class="text-center vertical_align">{{ list.id }}</th>
        <th class="text-center vertical_align">{{ list.nombre }}</th>
        <td class="text-center vertical_align">{{ list.descripcion }}</td>
        <td class="text-center vertical_align">
          <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(list.foto)" alt="..." class="img-table">
        </td>
        <td class="text-center vertical_align">
          <button class="btn btn-rojo" (click)="buscar(list.id, 1, list.nombre)">Actualizar</button>
        </td>
        <td class="text-center vertical_align">
          <button class="btn btn-rojo" (click)="buscar(list.id, 2, list.nombre)" data-bs-toggle="modal"
            data-bs-target="#eliminar">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal para eliminar -->
<div class="modal fade" id="eliminar" tabindex="-1"
  aria-labelledby="eliminar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminar">Eliminar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Estas seguro de eliminar {{ nombreProducto }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="eliminar()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Mandar Nota a Administrador</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mb-3">Enviar
      </button>
    </div>
  </div>
</div>