<nav class="navbar fondo_navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="">
            <img src="../../../assets/img/Logo Horizontal.svg" alt="" width="70%" height="70%">
          </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item cursor_pointer">
                    <a class="nav-link color_nav_item" routerLinkActive="active" [routerLink]="['/admin/inventario']"><i class="fa fa-archive"></i>
                        <span> Inventario</span></a>
                </li>
                <li class="nav-item cursor_pointer">
                    <a class="nav-link color_nav_item" routerLinkActive="active" [routerLink]="['/admin/actividadesAdmin']"><i class="fa fa-calendar-check-o"></i>
                        <span> Actividades</span></a>
                </li>
                <li class="nav-item cursor_pointer">
                    <a class="nav-link color_nav_item" routerLinkActive="active" [routerLink]="['/admin/eventos']"><i class="fa fa-bicycle"></i>
                        <span> Eventos</span></a>
                </li>
                <li class="nav-item cursor_pointer">
                    <a class="nav-link color_nav_item"  routerLinkActive="active" [routerLink]="['/admin/ventas']"><i class="fa fa-line-chart"></i>
                        <span> Ventas y Pedidos</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle color_nav_item" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"><i class="fa fa-plus-square"></i>
                         Agregar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item cursor_pointer" (click)="agregarProducto()">Producto</a></li>
                        <li><a class="dropdown-item cursor_pointer" (click)="agregarDerivado()">Derivado</a></li>
                        <li><a class="dropdown-item cursor_pointer" (click)="agregarActividad()">Actividad</a></li>
                        <li><a class="dropdown-item cursor_pointer" (click)="agregarEvento()">Evento</a></li>
                        <li><a class="dropdown-item cursor_pointer" (click)="agregarPunto()">Punto de venta</a></li>
                        <li><a class="dropdown-item cursor_pointer" (click)="agregarProductor()">Productor</a></li>
                    </ul>
                </li>
                <li class="nav-item cursor_pointer">
                    <a class="nav-link color_nav_item" (click)="logout()"><i class="fa fa-sign-out"></i>
                        <span> Cerrar Sesión</span>
                    </a>
                </li>
                <li class="nav-item cursor_pointer">
                    <a class="nav-link color_nav_item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>