<div class="mt-1">
    <span>.</span>
</div>
<div class="container">
    <h1 class="mt-5 mb-3 text-center">Agregar Producto</h1>
</div>
<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="submitForm()" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col">
                <label for="nombre" class="form-label">Nombre del Producto</label>
                <input type="text" formControlName="nombre" class="form-control" id="nombre"
                    placeholder="Nombre del producto">
            </div>
            <div class="col">
                <label for="nivel" class="form-label">Nivel de Madurez</label>
                <input type="text" class="form-control" formControlName="nivel" id="nivel"
                    placeholder="Nivel de Madurez">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" formControlName="stock" id="stock"
                    placeholder="Cantidad en stock">
            </div>
            <div class="col">
                <label for="precioKilo" class="form-label">Precio por kilo</label>
                <input type="number" class="form-control" formControlName="precioKilo" id="precioKilo"
                    placeholder="Precio del producto por kilo">
            </div>
        </div>
        <div class="mb-3">
            <label for="precioCaja" class="form-label">Precio por caja</label>
            <input type="number" class="form-control" formControlName="precioCaja" id="precioCaja"
                placeholder="Precio por caja">
        </div>
        <div class="mb-3">
            <label for="precioTonelada" class="form-label">Precio por tonelada</label>
            <input type="number" class="form-control" formControlName="precioTonelada" id="precioTonelada" rows="4"
                placeholder="Precio por tenelada">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input class="form-control" formControlName="descripcion" id="descripcion" rows="4"
                placeholder="Descripción del producto">
        </div>
        <div class="mb-3">
            <label for="foto" class="form-label">Imagen del Producto</label>
            <input (change)="onFileSelect($event.target)" type="file" class="form-control">
        </div>
        <div class="mb-3">
            <label for="estatus" class="form-label">Estatus</label>
            <select class="form-select" formControlName="estatus" id="estatus">
                <option value="1">Activo</option>
                <option value="2">Desactivado</option>
            </select>
        </div>
        <button type="submit" class="btn btn-rojo">Registrar Producto</button>
    </form>
</div>