<div class="">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide fondo_swiper">
                <img src="../../../assets/img/Manza-home.jpg" alt="">
                <div class="overlay_box">
                    <div class="texto_superpuesto">
                        <p class="texto_small_swiper">Conoce los beneficios de las</p>
                        <p class="texto_big_swiper">manzanas</p>
                        <p class="texto_big_swiper">orgánicas</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="fondo_swiper">
                    <img src="../../../assets/img/Manza-home.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide fondo_swiper">
                <img src="../../../assets/img/Manza-home.jpg" alt="">
                <div class="overlay_box">
                    <div class="texto_superpuesto">
                        <p class="texto_small_swiper">Conoce nuestras</p>
                        <p class="texto_big_swiper">actividades</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide fondo_swiper">
                <img src="../../../assets/img/Manza-home.jpg" alt="">
                <div class="overlay_box">
                    <div class="texto_superpuesto">
                        <p class="texto_small_swiper">Conoce los beneficios de las</p>
                        <p class="texto_big_swiper">manzanas</p>
                        <p class="texto_big_swiper">orgánicas</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="container text-center mt-3 mb-4">
    <span class="texto_subtitle">Manzana Serrana</span><br>
    <p class="texto_title bold espacios_textos">Nuestros</p><br>
    <p class="texto_title bold espacios_textos">Productos</p>
</div>
<div class="d-flex justify-content-center texto_catgeorias">
    <div class="boton_expand_cat active_categoria cursor_pointer" id="btnMayoreo" (click)="cambiarMapa()">Mayoreo</div>
    <div class="boton_expand_cat active_categoria cursor_pointer" id="btnMenudeo" (click)="cambiarMapa()">Menudeo</div>
</div>
<div class="container mt-5 mb-5">
    <!-- Seccion de mayoreo -->
    <div id="mayoreo">
        <form (ngSubmit)="submitForm()">
            <div class="row row-cols-1 row-cols-md-3 g-5">
                <ng-container *ngFor="let aux of listaProductos">
                    <div class="col mb-2">
                        <div class="card borde p-3" style="min-height: 100%;">
                            <div class="check-mark">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [name]="'product_' + aux.id"
                                        [ngModel]="aux.selected" (ngModelChange)="onProductSelected(aux)">
                                </div>
                            </div>
                            <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(aux.foto)"
                                class="card-img-fixed text-center" alt="...">
                            <div class="card-body">
                                <div class="text-center">
                                    <p class="texto_card text-center espacios_textos">Manzana</p><br>
                                    <p class="texto_card_big text-center espacios_textos">{{ aux.nombre }}
                                    </p>
                                </div>
                                <p class="descripcion_card my-1">{{ aux.descripcion }}</p>
                                <p class="card-text">Nivel de Madurez: {{ aux.nivelMadurez }}</p>
                                <p class="card-text">${{aux.precioTonelada}} MXN por Tonelada</p>
                            </div>
                            <div class="mx-2">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Cantidad:</span>
                                            <input type="number" class="form-control" [disabled]="!aux.selected"
                                                [name]="'cantidad_' + aux.id" [(ngModel)]="aux.cantidad"
                                                (change)="onCantidadBlur(aux)" [min]="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <ng-container *ngIf="banderaContacto">
                <div>
                    <p class="text-center texto_title">Cesta de Productos</p>
                    <div class="row">
                        <ng-container *ngFor="let pro of productosSeleccionados; let i = index">
                            <div class="col-6">
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-5">
                                            <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(pro.foto)"
                                                class="img-fluid rounded-start" alt="...">
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ pro.nombre }}</h5>
                                                <p class="card-text">Cantidad: {{ pro.cantidad }}</p>
                                                <p class="card-text">Precio: ${{ pro.precio }}</p>
                                                <p class="card-text"><small class="text-body-secondary">Subtotal:
                                                        ${{ pro.subtotal }}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <h2 class="text-center">Total : ${{total}}</h2>
                </div>
                <div class="mt-5 mb-4 fondo_card p-5">
                    <div class="text-center">
                        <span class="texto_subtitle">Manzana Serrana</span>
                        <br>
                        <p class="texto_title bold space_text">Pedidos</p>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <form [formGroup]="productForm">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label for="nombre" class="form-label texto_card">Nombre
                                            Completo:</label>
                                        <input type="text" class="form-control texto_input" id="nombre"
                                            placeholder='"Nombre Apellidos"' formControlName="nombre">
                                        <div *ngIf="productForm?.get('nombre')?.hasError('required') && productForm.get('nombre')?.touched"
                                            class="invalid-check">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="estado" class="form-label texto_card">Estado:</label>
                                        <input type="text" class="form-control texto_input" id="estado"
                                            placeholder='"Puebla"' formControlName="estado">
                                        <div *ngIf="productForm?.get('estado')?.hasError('required') && productForm.get('estado')?.touched"
                                            class="invalid-check">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="ciudad" class="form-label texto_card">Ciudad:</label>
                                        <input type="text" class="form-control texto_input" id="ciudad"
                                            placeholder='"Teziutlán"' formControlName="ciudad">
                                        <div *ngIf="productForm?.get('ciudad')?.hasError('required') && productForm.get('ciudad')?.touched"
                                            class="invalid-check">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="email" class="form-label texto_card">Correo
                                            Electrónico:</label>
                                        <input type="email" class="form-control texto_input" id="email"
                                            placeholder='"tucorreo@example.com"' formControlName="email">
                                        <div *ngIf="productForm?.get('email')?.hasError('required') && productForm.get('email')?.touched"
                                            class="invalid-check">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="telefono" class="form-label texto_card">Teléfono:</label>
                                        <input type="phone" class="form-control texto_input" id="telefono"
                                            placeholder='"1235550101"' formControlName="telefono">
                                        <div *ngIf="productForm?.get('telefono')?.hasError('required') && productForm.get('telefono')?.touched"
                                            class="invalid-check">
                                            Este campo es requerido.
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button type="submit" class="btn_enviar_pedido bold">Enviar
                        Solicitud</button>
                </div>
            </ng-container>
        </form>
    </div>
    <!-- Seccion de menudeo -->
    <div class="ocultar" id="menudeo">
        <div class="row mb-2 row-cols-1 row-cols-md-3 g-4">
            <ng-container *ngFor="let aux of listaProductosCompleta">
                <div class="col">
                    <div class="card borde mb-2" style="min-height: 100%;">
                        <img [src]="'http://localhost:8080/image/' + obtenerNombreImagen(aux.foto)"
                            class="card-img-fixed text-center" alt="...">
                        <div class="card-body">
                            <div class="text-center">
                                <p class="texto_card text-center espacios_textos">Manzana</p><br>
                                <p class="texto_card_big text-center espacios_textos">{{ aux.nombre }}
                                </p>
                            </div>
                            <p class="descripcion_card my-1">{{ aux.descripcion }}</p>
                            <p class="card-text">Nivel de Madurez {{aux.nivelMadurez}}</p>
                            <p class="card-text">${{aux.precioKilo}} por kg</p>
                            <p class="card-text">${{aux.precioCaja}} por Caja</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="mostrar" id="banderaMapa">
        <!-- <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div> -->

        <p class="text-center texto_title">Puntos de Venta</p>
        <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
</div>

<!-- Message system -->
<ng-container *ngIf="banderaId">
    <div class="message-container">
        <div class="dropdown">
            <button class="btn btn-rojo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                <i class="fa fa-envelope"></i>
            </button>
        </div>
    </div>
</ng-container>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel" class="texto_subtitle mt-1">Mandar Nota a Administrador</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="tipoManzana" class="form-label texto_card">Tipo de Manzana</label>
                <select class="form-control texto_input" id="tipoManzana" formControlName="tipoManzana">
                    <option *ngFor="let manzana of listaIdManzana" [value]="manzana.id">{{ manzana.nombre }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="tipoMensaje" class="form-label texto_card">Tipo de Mensaje</label>
                <select class="form-control texto_input" id="tipoMensaje" formControlName="tipoMensaje">
                    <option *ngFor="let mensaje of listaMensaje" [value]="mensaje.id">{{ mensaje.nombre }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="cantidad" class="form-label texto_card">Cantidad</label>
                <input type="number" class="form-control texto_input" id="cantidad" formControlName="cantidad">
            </div>
            <button type="submit" class="btn btn-rojo">Enviar</button>
        </form>
    </div>
</div>